html {
    box-sizing: border-box;
}

*:before,*:after,* {
    box-sizing: inherit;
    transition:all .03s ease;
}

body{
    background-color: #fff;
    margin:0;
    line-height: 1.5;
}

.wrapper__article {
    text-transform: uppercase;
    margin:50px;
}

.wrapper__article  span {
    color: #90969f;
    font-weight: bold;
}

.wrapper__article h1 {
    color:#0ec8cb;
    font-size: 40px;
    font-weight:bolder;
}

.wrapper__article h2 {
    color:#999999;
    font-weight: 100;
}

.wrapper{
    margin: 0 auto;
    max-width:940px;
    width:100%;
    text-align: center;
    padding:15px;
    
}

.wrapper__item {
    display: inline-block;
    width:23%;
    margin: 0 1%;
    background-color: #f7f7f7;
    padding:.3%;
    font-size: 14px;
    vertical-align: middle;
    min-height:500px;
    height:100%;
    border-color: #ECECEC;
}

.wrapper__item:hover {
    background-color: #0ec8cb;
    color:#fff;
}

.wrapper__features{
    font-size: 0;
    height:auto;
}

.wrapper__item i {
    font-size: 50px;
    font-weight: bold;
    margin:50px auto;
}

.wrapper__item h4 {
    text-transform: uppercase;
    font-size: 20px;
    word-wrap: break-word;
}

.wrapper__item p {
    font-size: 14px;
    color:#808080;
    text-align:center;
    line-height:1.7;
    margin-bottom:60px;
}

.wrapper__item:hover > p {
    color:#fff;
}